<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>Map.servlet.indexservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DatasetServlet</servlet-name>
        <servlet-class>Map.servlet.DatasetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DatasetServlet</servlet-name>
        <url-pattern>/Dataset/*</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>MinerServlet</servlet-name>
        <servlet-class>Map.servlet.MiningService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MinerServlet</servlet-name>
        <url-pattern>/ClusterMiner/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CSSGetter</servlet-name>
        <servlet-class>Map.servlet.CSSGetter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CSSGetter</servlet-name>
        <url-pattern>/css/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JsGetter</servlet-name>
        <servlet-class>Map.servlet.JsGetter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JsGetter</servlet-name>
        <url-pattern>/js/*</url-pattern>
    </servlet-mapping>



    <mime-mapping>
    <extension>js</extension>
    <mime-type>application/javascript</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>css</extension>
        <mime-type>text/css</mime-type>
    </mime-mapping>
</web-app>

